name: Mongolbank Data Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run GDP pipeline
        env:
          DATA_SERVICE_ACCOUNT_KEY: ${{ secrets.DATA_SERVICE_ACCOUNT_KEY }}
        run: python data_automation.py

      - name: Upload GDP Excel output
        uses: actions/upload-artifact@v4
        with:
          name: GDP-output
          path: output/
